<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Reset Password</h3>
        <div class="d-flex justify-content-end social_icon">
          <span
            ><i>
              <span
                ><img
                  src="../../../assets/logo.png"
                  style="width: 30%; float: right"
                  alt="" /></span></i
          ></span>
        </div>
      </div>
      <div class="card-body">
        <form action="/reset" method="POST">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-envelope"></i
              ></span>
            </div>
            <input
              type="email"
              class="form-control"
              placeholder="E-mail"
              #email
            />
          </div>
          <div class="form-group">
            <input
              value="Send Code"
              type="button"
              (click)="onReset(email.value)"
              class="btn float-right login_btn"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
